@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');/*header*/

.blog-each {
    margin-top: 10px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    padding-bottom: 10px;
}

.blog-img img {
    width: 280px;
    height: 200px;
    border-radius: 10px;
    transition: all 500ms;
    
}

.blog-img img:hover {
    opacity: 0.8;
}

.blog-txt {
    margin-left: 20px;
}
